<form [ngFormModel]="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input 
            id="username" 
            type="text" 
            class="form-control"
            ngControl="username">
        <div 
            *ngIf="!form.controls['username'].valid" 
            class="alert alert-danger">Username is Require</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            id="password" 
            type="text" 
            class="form-control"
            ngControl="password">
        <div class="alert alert-danger">Password is Require</div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>